{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link href="{% static "kasten/editor.css" %}" rel="stylesheet">
  <script src="{% static "kasten/editor.js" %}"></script>
<script type="text/javascript">

$(document).ready( function() {

$("#txtEditor").Editor();                   

});

function submit() {
    $("#editorcontent").html($(".Editor-editor").contents())
  }
</script>
</head>
<body>
 
<form action="/kasten/editortest" method="POST" onsubmit="submit()" id="editorform">
  {% csrf_token %}
  <div id="txtEditor">
  <textarea id="editorcontent" name="text" cols="30" rows="10">

  </textarea>
  </div>

</form>

  <button onclick="submit()">Abschicken</button>
</body>
</html>
