<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>{{ note.title }}</title>
</head>
<body>
    <div class="card text-white bg-secondary mb-3" style="max-width: 33rem;">
        <div class="card-header">{{ note.title }}</div>
        <div class="card-body">
          <h5 class="card-title">{% for tag in tags %}
             #{{ tag.name }}
              {% endfor %}
          </h5>
          <p class="card-text">{{ note.content }}</p>
        </div>
</body>
</html>