<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Shops</title>
</head>
<body>
    <h1>Choose Shop</h1>

    {% if shop_list %}
    <ul>
    {% for shop in shop_list %}
        <li><a href="{% url 'ek_list:list'  shop.id %}">{{ shop.name }}</a></li>
        <form action="{% url 'ek_list:delete_shop' shop.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete Shop">
        
        
    {% endfor %}
    </ul>
{% else %}
    <p>No lists are available.</p>
{% endif %}

<h2>Create New Shop</h2>
<form action="{% url 'ek_list:newshop' %}" method="post">
    {% csrf_token %}
    <label>Name</label><input type="text" name="name">
    <input type="submit" value="Create">
  </form>

</body>
</html>